#overview {
    background: #0a0a0a;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

#overview::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.04'/%3E%3C/svg%3E");
    pointer-events: none;
    opacity: 0.4;
    z-index: 0;
}

.section-label {
    display: block;
    font-family: 'DM Mono', monospace;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.20px;
    color: yellow;
    margin-bottom: 10px;
}

.section-title {
    font-family: 'Syne', sans-serif;
    color: white;
    margin-top: 0;
    font-size: 60px;
}

.overview-intro {
    margin-bottom: 30px;
    margin-top: 20px;
}

.overview-desc {
    font-family: 'DM Mono', monospace;
    font-size: 15px;
    color: white;
    margin: 0;
}

.overview-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.overview-card {
     background: #0a0a0a;
     box-shadow: 0 0 6px yellow;
    border-radius: 12px;
    padding: 32px;
    position: relative;
    overflow: hidden;
}

.card-num {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 50px;
    opacity: 0.5;
    color: yellow;
    font-family: 'Syne', sans-serif;
}

.card-icon {
    font-size: 20px;
    margin-bottom: 14px;
}

.overview-card h3 {
    font-family: 'Syne', sans-serif;
    font-size: 18px;
    margin: 0 0 10px;
    color: yellow;
}

.overview-card p {
    font-family: 'DM Mono', monospace;
    font-size: 12px;
    line-height: 1.65;
    margin: 0;
    color: white;
}

.overview-problem {
    margin-top: 20px;
}

.problem-inner {
    background: #0a0a0a;
    border-radius: 12px;
    padding: 35px 40px;
    box-shadow: 0 0 6px yellow;
    margin-bottom: 20px;
}

.problem-inner h3 {
    font-family: 'Syne', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: yellow;
    margin: 0 0 14px;
}

.problem-inner p {
    font-family: 'DM Mono', monospace;
    font-size: 15px;
    color: white;
    margin: 0;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #overview {
        padding: 70px 0;
    }

    .overview-cards {
        grid-template-columns: 1fr;
    }

    .problem-inner {
        padding: 28px 24px;
    }
}